{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<br>
<br>
<br>
<div><br></div>
				<div class="formulario">
					<form name="formregistro" action="" method="POST" class="form">
						{% csrf_token %}




						<label for="">Nombre de Usuario</label>
    					<input type="text" name="user" >
    					<br>
    					<label for="">Contraseña</label>
    					<input type="password" name="pass" id="pass">
    					<br>
    					<label for="">Rut</label>
    					<input type="text" name="rut" id="rut"></input>
						<br>
						<label for="">Nombre</label>
    					<input type="text" name="nom" >
						<br>
						<label for="">Apellido Paterno</label>
    					<input type="text" name="apepa" >
						<br>
						<label for="">Apellido Materno</label>
    					<input type="text" name="apema" >
						<br>
						<label for="">Correo Electronico</label>
    					<input type="text" name="mail" >
						<br>
						<label for="">Género</label>
						<br>
						<select name="sex">
							<option>Masculino</option>
							<option>Femenino</option>
						</select>
						<br><br>
						<label for="">teléfono</label>
    					<input type="text" name="fono" >
						<br>
						<label for="">Fecha Nacimiento</label>
						<br>
						<input type="date" name="fecnac" id="fecnac">
						<br>
						<label for="">Prevision</label><br>
    
						<select name="prevision" id="prevision" onchange="cambiarCmb()">
							<option value="">Seleccionar...</option>
							{% for p in prevision %}
								<option value="{{p.0}}">{{p.1}}</option>
							{% endfor %}
						</select>
						
						<br><br>
						
						<label for="">Tramo Prevision</label><br>
						<select name="tipoprev" id="tipoprev">
							<option value="">Seleccione...</option>
						
						</select>

						<br><br>

						<script>

							function cambiarCmb(){
								let idprevision = document.getElementById("prevision").value;
								let url = '/Tramo_Prevision/?prevision='+idprevision;
								fetch(url)
								.then(function(result){
									return result.text();
								})
								.then(function(result){
									document.getElementById("tipoprev").innerHTML = result;
								});
							}
							</script>


						
<!-- <input type="text" placeholder="Nombre" name="nombre" id="nombre" required>
						<input type="text" placeholder="Apellidos" name="apellido" id="apellidos" required>
                        <label>Fecha de Nacimiento</label>
						<input type="date" name="fechanacimiento" id="fechanacimiento" required>
						<input type="text" placeholder="Teléfono" name="telefono" id="telefono" required>
						<input type="text" placeholder="Correo" name="email" id="email" required>
						<input type="password" placeholder="Contraseña" name="Contraseña" id="Contraseña" required> -->

						<input type="submit" id="enviar" value="Enviar" class="boton">




					</form>
				</div>


										<!-- {% if message %}
						<script>alert('{{message}}')</script>
						{% endif %} -->

{% endblock contenido %}
